<p id="notice"><%= notice %></p>

<h1>Hopes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hopes.each do |hope| %>
      <tr>
        <td><%= hope.content %></td>
        <td><%= hope.image %></td>
        <td><%= hope.user %></td>
        <td><%= link_to 'Show', hope %></td>
        <td><%= link_to 'Edit', edit_hope_path(hope) %></td>
        <td><%= link_to 'Destroy', hope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hope', new_hope_path %>
